/* Imports */
@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
@import url("font-awesome/css/all.css");
@import url("bootstrap/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* Functions */
/* Vars Colors */
/* CSS Code */
html, body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#881616), to(#a52a2a));
  background-image: linear-gradient(to bottom right, #881616, #a52a2a);
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* Sidebar */
#sidebar {
  position: relative;
  z-index: 1000;
}

#sidebar .menu {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2000;
}

#sidebar .menu i {
  font-size: 2.5rem;
  color: #eeeeee;
  cursor: pointer;
}

#sidebar .menu .oi-x {
  display: none;
}

/* Sidebar Nav Links */
#sidebar ul {
  position: absolute;
  width: 25rem;
  height: 100vh;
  padding: 2rem;
  padding-top: 4rem;
  background-color: #0B2240;
  z-index: 1500;
  -webkit-transform: translateX(-25rem);
          transform: translateX(-25rem);
}

#sidebar ul li {
  position: relative;
  margin: .5rem 0;
  padding: .5rem 0;
}

#sidebar ul li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#F23322), to(#F2B90C));
  background: linear-gradient(to right, #F23322, #F2B90C);
}

#sidebar ul li a {
  font-size: 1.5rem;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: color 400ms;
  transition: color 400ms;
  position: relative;
}

#sidebar ul li a:hover {
  color: #ffffff;
}

#sidebar ul li a i {
  position: absolute;
  right: 3rem;
  top: .8rem;
}

/* Sidebar Open */
.nav-open {
  -webkit-transform: translateX(25rem);
          transform: translateX(25rem);
}

/* Main */
main {
  position: relative;
}

.main-title {
  margin: 8vh 0 4vh 0;
}

.main-title h1 {
  color: #f0cb5c;
  text-shadow: 2px 2px #000000;
  margin-bottom: -18px;
}

.main-title span {
  font-size: 3rem;
  margin-left: 10rem;
  color: #1a1a1a;
}

/* Generate Bars */
.span-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.span-bars div {
  height: 2rem;
  background-color: #eeeeee;
  border-radius: 20rem;
  margin: .5rem 0;
}

.span-bars div:nth-child(0) {
  width: 48%;
}

.span-bars div:nth-child(1) {
  width: 48%;
}

.span-bars div:nth-child(2) {
  width: 46%;
}

.span-bars div:nth-child(3) {
  width: 44%;
}

.span-bars div:nth-child(4) {
  width: 55%;
}

.span-bars div:nth-child(5) {
  width: 51%;
}

.span-bars div:nth-child(6) {
  width: 56%;
}

.span-bars div:nth-child(7) {
  width: 51%;
}

.span-bars div:nth-child(8) {
  width: 57%;
}

/* Social Media Buttons */
.social-media {
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media a {
  font-size: 4rem;
  margin: 0 2rem;
  color: #303030;
}

.social-media a:hover {
  -webkit-transition: color 400ms;
  transition: color 400ms;
  color: #262626;
}

.footer {
  z-index: inherit;
  font-size: 1.5rem;
  color: #eeeeee;
}
/*# sourceMappingURL=site.css.map */